
*:not(p,hr) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: #fff;
    animation: changeColor 120s infinite linear;
    background-color: #111;
    font-family: ShareTechMono;
    width: 100%;
    align-items: center;
}

.wrapper {
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid #fff;
    animation: changeColor 120s infinite linear;
    cursor: default;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 768px;
    }
}

hr {
    border: 1px solid #f0f;
    animation: changeColor 120s infinite linear;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ShareTechMono, sans-serif;
    font-weight: bold;
    color: #fff;
    animation: changeColor 120s infinite linear;
}

h1 {
    font-size: 2rem;
}
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }
}

p {
    color: #fff;
    animation: changeColor 120s infinite linear;
}

.gif {
    max-width: 100vw;
    width: 100%;
}

.blog {
    margin-top: 4rem;
}

.blogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 0.8rem;
}

li {
    margin-left: 1em;
}

@media only screen and (min-width: 768px) {
    .blog p {
        column-count: 1;
    }
}

@font-face {
    font-family: ShareTechMono;
    src: url(ShareTechMono-Regular.ttf);
}

@keyframes changeColor {

    0% {
        color: #fff;
        border-color: #fff;
    }

    20% {
        color: #0f0;
        border-color: #0f0;
    }

    40% {
        color: #0ff;
        border-color: #0ff;
    }

    60% {
        color: #f0f;
        border-color: #f0f;
    }

    80% {
        color: #ff0;
        border-color: #ff0;
    }
}
